<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.edu.poli.gamification.poliplay">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Secuencia.Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Secuencia.SeleccionarCurso"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Secuencia.SeleccionarRol"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Secuencia.SeleccionarTransporte"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Secuencia.Mapa"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Juegos.JuegoRelacionar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Juegos.JuegoRelacionarSolucion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Juegos.JuegoAhorcado"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Juegos.JuegoTrivia"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Juegos.JuegoCalculadora"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Juegos.JuegoCrucigrama"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Juegos.JuegoCrucigramaSolucion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Secuencia.SeleccionarRolPopUp"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".Narrativa.IntroduccionCurso" />
        <activity
            android:name=".Secuencia.SeleccionarTransportePopUp"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".Secuencia.Registro"></activity>
    </application>

</manifest>